
#mn{background:white;text_align:justify;margin-left:10%;margin-right:10%;border-left-style:solid;
border-right-style:solid;border-color:white;border-width:1px;height:justify;
color:black;font-size:18px;font-family:Lumberjack;border-radius:35px;}

#hed{color:black;;font-size:35px;font-family:Ailerons;text-decoration:underline;}

#sty{background:#A4C73C;}

#divsty{background:white;text_align:justify;margin-left:2%;margin-right:2%;}

#subh{color:black;;font-size:24px;font-family:Arkhip;text-decoration:underline;}

#fe{font-family:Segoe Print}

#n{font-family:Segoe Print;}

#new{font-family:Courier New;}

#ndiv{background:white;text_align:justify;margin-left:10%;margin-right:10%;height:justify;font-family:Courier New;}

#andiv{background:#DDDDDD;text_align:justify;margin-left:10%;margin-right:10%;height:justify;font-family:Courier New;}

#df{font-family:Comic Sans MS;}





